<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Spring MVC Security Quickstart</title>

    <link rel="stylesheet" type="text/css" href="${cssURL}">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer
            src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<div id="page">
    <div class="container">
        <div class="mt-5">
            <div class="text-center hero my-5">
                <img class="mb-3 app-logo" src="/letter_b.png" alt="Broughton logo" width="120"/>
                <p class="lead">
                    Home Automation Application
                </p>
                <h2>Home Office</h2>
                <a href="/donotdisturb" class="button">Do not disturb</a>
            </div>
        </div>
    </div>
</div>

</html>